.template-editor {
    min-width:100%;
    max-width:100%;
    min-height:20vh;
}
.template-preview {
    min-width:100%;
    max-width:100%;
    min-height:30vh;
}

textarea, select {
    font-size: 16px;
}

.template-input {
  width:100%;
  max-width: 100%;
}

.student-ul li {
    margin-top: 0 !important;
}