@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.brand {
  font-family: "Shadows Into Light";
  color: #09b2f5;
  font-size: 2em;
}

.navbar-dropdown a:hover {
  color:#09b2f5 !important;
}

.avatar {
  max-width: 100px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.avatar img {
  border-radius: 50%;
}
