@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

nav {
  border-bottom: black solid 1px;
}
.brand {
  font-family: "Shadows Into Light", cursive;
  color: #09b2f5;
  font-size: 2em;
}

.avatar {
  width: 100%;
  border: solid rgba(0, 0, 0, 0.171) 1px;
  border-radius: 50%;
}
