:root {
  --blue: #09b2f5
}

.rounded-tr {
  border-top-right-radius: 6px;
}

.tabs ul {
  max-height: 42px;
  border-bottom-color: none !important;
  border-bottom-style: none !important;
}

.tabs ul li {
  transition: all 0.2s ease-in-out;
}

.tabs ul li a {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.tabs ul li a:hover {
  color: #09b2f5 !important;
}

.tabs ul li:hover {
  transform: scale(1.09) translate(5%, 0);
}
