@import "_env"

@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/form/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/helpers/_all"
@import "~bulma/sass/layout/_all"


.is-main-heading
    font-weight: 900
    font-size: 5rem

a.is-Nav-links
    font-weight: 700

button.is-Heading-links
    color: #4a4a4a
    padding: 4px
    margin: 4px
    font-weight: 700
    cursor: pointer
    text-orientation: underline
    border-width: 0

    
a.is-Nav-links:hover, button.is-Heading-links:hover
    color: #35c6ff
    border-radius: 2px
    

a.is-Nav-links:active
    text-decoration-color: #35c6ff
    text-decoration-line: 1
 
.image.is-135x135
    width: 135px  
    height: auto

.footer
    background-color: inherit