@import "_env"

@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/form/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/helpers/_all"
@import "~bulma/sass/layout/_all"
@import "~bulma-slider/src/sass" 


.is-main-heading
    font-weight: 900
    font-size: 5rem

.is-Nav-links
    color: #35c6ff
    font-weight: 700

.is-Nav-links:hover
    color: #123b4b!important

.is-Nav-links:active
    font-weight: 700
    text-decoration-line: 1
    