header {
    height: 10vh;
}

nav {
    border-bottom: black solid 1px;
}

main {
    min-height: 80vh;
}

footer {
    min-height: 10vh;
}

.z-1 {
    z-index: -1;
}

.border-red {
    border: solid 1px red;
}