:root {
  --blue: #09b2f5;
  --border: rgba(0, 0, 0, 0.6);
  --border-light: rgba(0, 0, 0, 0.3);
  --clear:rgba(255, 255, 255, 0);

  --success: hsl(171, 100%, 41%);
  --danger: hsl(348, 100%, 61%);
  --warning: hsl(48, 100%, 67%);
  --info: #9f7dfd;

}

/* ~ ~ ~ ~ ~ MAIN LAYOUT ~ ~ ~ ~ ~ ~ */
html,
body {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  min-height: 100vh;
  max-height: 100vh;

  min-width: 100vw;
  max-width: 100vw;
}

.is-fixed {
  position: fixed !important;
}

section header {
  min-height: 6.5vh;
  max-height: 6.5vh;
  z-index: 10;
}

main {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  min-height: 85vh;
  z-index: 0;
}
footer {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  min-height: 8.5vh ;
  max-height: 8.5vh  ;
  z-index: 0;
}
.z-1 {
  z-index: -1;
}

/* ~ ~ ~ ~ ~ ~ ~ BACKGROUND ~ ~ ~ ~ ~ ~ ~ */
.background-blurred {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}
.background-blurred-dark {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}
.background-blurred-light {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
.background-dark {
  background-color: rgba(0, 0, 0, 0.7);
}
.background-clear {
  background-color: var(--clear);
}

/* ~ ~ ~ ~ ~ ~ ~ BORDER ~ ~ ~ ~ ~ ~ ~ */
.border {
  border: solid 1px var(--border);
}
.border-light {
  border: solid 1px var(--border-light);
}
.border-top {
  border-top: solid 1px var(--border);
}
.border-right {
  border-right: solid 1px var(--border);
}
.border-bottom {
  border-bottom: solid 1px var(--border);
}
.border-bottom-light {
  border-bottom: solid 1px var(--border-light);
}
.border-left {
  border-left: solid 1px var(--border);
}
.border-bold {
  border: solid 2px rgb(0, 0, 0);
}
.border-danger {
  border: solid 3px var(--danger);
}
.border-success {
  border: solid 3px var(--success);
}
.border-warning {
  border: solid 3px var(--warning);
}
.border-info {
  border: solid 3px var(--info);
}
.rounded {
  border-radius: 4px;
}
.rounded-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.rounded-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.square-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.square-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* ~ ~ ~ ~ ~ ~ ~ FORM ~ ~ ~ ~ ~ ~ ~ */
form {
  display: contents;
}
.input-slim {
  height: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}
.overflow-auto {
  overflow: auto;
 }

/* ~ ~ ~ ~ ~ ~ ~ HELP-TEXT ~ ~ ~ ~ ~ ~ ~ */
.help-error {
  color: rgba(175, 41, 41, 0.69);
  background-color: whitesmoke;
  display: inline;
  padding: .5em;
}
.help-success {
  color: rgba(28, 161, 28, 0.69);
}

/* ~ ~ ~ ~ ~ ~ ~ ICON ~ ~ ~ ~ ~ ~ ~ */
.icon-small {
  font-size: 0.75em;
}
.blue {
  color: #09b2f580;
}
.blue:hover {
  color: #09b2f5fb;
}
.hover:hover {
  cursor: pointer;
  transform: scale(1.5)!important;
}
.hover-large-item:hover,
.button:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  transform: scale(1.02) !important;
}
a.hover-large-item:hover {
  color: #09b2f5;
  font-size: scale(1.02);
}

/* ~ ~ ~ ~ ~ ~ ~ MODAL ~ ~ ~ ~ ~ ~ ~ */

.modal {
  justify-content: flex-start;
  max-height: 100vh;
  overflow-y: hidden;
}
.modal-card {
  overflow: scroll;
  width: 95%;
  border-radius: 1em;
  margin-top: 2vh;
  max-height: 96vh;
  min-height: 80vh;
}
.modal-card-head {
  border-bottom: none;
}