.meeting-past {
    background-color: rgba(255, 108, 108, 0.356);
}

.meeting-present {
    background-color: rgba(255, 196, 0, 0.61);
}

.meeting-future {
    background-color: rgba(0, 255, 0, 0.61);
}